@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'progress';

@layer base {
  html {
    @apply w-full h-screen text-lg;
  }
  body {
    @apply relative h-full text-black;
  }
  @font-face {
    font-family: "ExivarSans";
    src: url("/fonts/Exivar Sans-Regular.woff2") format("woff2"),
      /* Modern Browsers */ url("/fonts/Exivar Sans-Regular.otf")
        format("opentype"); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    font-display: fallback;
  }
  @font-face {
    font-family: "ExivarSans";
    src: url("/fonts/Exivar Sans-Medium.woff2") format("woff2"),
      /* Modern Browsers */ url("/fonts/Exivar Sans-Medium.otf")
        format("opentype"); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    font-display: fallback;
  }
  @font-face {
    font-family: "ExivarSans";
    src: url("/fonts/Exivar Sans-Bold.woff2") format("woff2"),
      /* Modern Browsers */ url("/fonts/Exivar Sans-Bold.otf")
        format("opentype"); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-display: fallback;
  }
  @font-face {
    font-family: "ExivarSerif";
    src: url("/fonts/Exivar Serif-Regular.woff2") format("woff2"),
      /* Modern Browsers */ url("/fonts/Exivar Serif-Regular.otf")
        format("opentype"); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
  }
  @font-face {
    font-family: "ExivarSerif";
    src: url("/fonts/Exivar Serif-SemiBold.woff2") format("woff2"),
      /* Modern Browsers */ url("/fonts/Exivar Serif-SemiBold.otf")
        format("opentype"); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
  }
  @font-face {
    font-family: "ExivarSerif";
    src: url("/fonts/Exivar Serif-Bold.woff2") format("woff2"),
      /* Modern Browsers */ url("/fonts/Exivar Serif-Bold.otf")
        format("opentype"); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
  }
}
